<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345678</property>

        <property name="hibernate.hbm2ddl.auto">update</property> <!-- cria uma tabela se nao existir, e se existir, nao cria duplicata -->
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.show_sql">true</property> <!-- vai mostrar a consulta sendo realizada -->

    </session-factory>
</hibernate-configuration>